
.navbar {
    width: 100%;
    background-color: #1238b4;
    overflow: auto;
  }
  

  .navbar a {
    float: left;
    text-align: center;
    padding: 12px;
    color: white;
    text-decoration: none;
    font-size: 17px;
  }
  
  .navbar a:hover {
    background-color: #931010;
  }
  

  .active {
    background-color: #0d2c94;
  }
  
  .rosmini_img {
    display: inline-block;
    height: 100px;
    width: auto;
    vertical-align: middle;
    margin-left: 350px; 
}

.sign_in {
    display: inline-block;
    height: 50px;
    width: auto;
    vertical-align: middle; 
    float: right; 
    margin-right: 50px; 
    margin-top: 25px;
}


